@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/site2.css" />
<div class="text-center">
    <div class="tekst">
        <h1>Welcome to Digital Library!</h1>
        <p>Renting more than 100 books is just a click away!</p>

        <button class="btn"><span>Rent Now</button>
    </div>
</div>
