@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/about.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<div class="text-center">
    <div class="tekst">
        <body>
            <div class="header">
                <div class="main">
                    <h1>About us</h1>
                    <p>
                        The Digital Library is a creative and easy way of menaging the library transactions for both users and staff.<br>
                        The creators of this web-application are Predrag Djindjic and Grigor Ristov, feel free to contact them with the information below.<br>
		                <br>
                        Predrag Djindjic:<br>
                        Student ID:	63180362<br>
                        E-mail:		pd3357@student.uni-lj.si<br>
                        <br>
                        Grigor Ristov:<br>
                        Student ID:	63180362<br>
                        E-mail:		pd3357@student.uni-lj.si<br>
                    </p>
                </div>
            </div>
        </body>
    </div>
</div>
