@model web.Models.Course

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/edit.css" />
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Lobster&display=swap" rel="stylesheet">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h1>Create Course</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label">BookID</label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">BookName</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credits" class="control-label">Author</label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

